<!-- start: Chat -->
<div class="chat">
    <div class="chat-top">
        <img class="chat-user-image" src="assets/images/default_user.jpg" alt="">
        <div>
            <div class="chat-user-name">ACE</div>
            <div class="chat-user-status thinking">thinking...</div>
        </div>
    </div>
    <!-- start: Variables -->
    <input id="is_ace_previous" type="hidden" name="is_ace_previous" value="false">
    <!-- end: Variables -->
    <div class="chat-body">
        <ul id="active-chat" class="chat-wrapper">
            <div id="no-chats-message" class="welcome"><p class="welcome-text">You've never spoken to the ACE... Send a message to get started!</p></div>
            <div class="coversation-divider"><span>Today</span></div>
        </ul>
    </div>
    <div class="chat-form">
        <textarea
            id="chat-form-input"
            class="chat-form-input" 
            rows="1"
            name="input_message"
            _="on clearInput 
                put '' into my.value 
            end
            on keydown 
                if event.keyCode is 13 and not event.shiftKey 
                    then event.preventDefault() 
                    then send sendMessage to #send-message-button 
            end"
            placeholder="Type here..."></textarea>
        <button
            id="send-message-button"
            type="button"
            aria-label="Send message"
            class="chat-form-button chat-form-submit"
            _="on sendMessage
                if #chat-form-input.value is not ''
                    if #active-chat do not match .me and #active-chat do not match .chat-wrapper
                        then put 'true' into #is_ace_previous.value
                        then put '' into #active-chat.id
                        then put 'active-chat' into #chat.id
                    end
                    if #active-chat match .chat-wrapper
                        then put 'true' into #is_ace_previous.value
                    end
                    then trigger click 
            end
            on click 
                send clearInput to #chat-form-input
            end
            on htmx:afterRequest
                if #active-chat match .chat-wrapper
                    then remove #no-chats-message
                end
                if #active-chat do not match .me or #active-chat match .chat-wrapper
                    then put 'chat' into #active-chat.id
                    then put 'false' into #is_ace_previous.value
                end
            end"
            hx-post="/v1/chat/listen"
            hx-include="[name=input_message], [name=is_ace_previous]"
            hx-ext="json-enc"
            hx-target="#active-chat"
            hx-swap="beforeend">
           <i class="fa fa-paper-plane"></i></button>
    </div>
</div>
<!-- end: Chat -->