<aside class="sidebar">
    <a hx-get="/welcome"
        hx-target="#content"
        hx-swap="innerHTML"
        _="on click remove .active from <li/> in #sidebar-menu"
        aria-label="Dashboard Logo" href="#" id="sidebar-logo">
        <i class="fas fa-brain"></i>
    </a>
    <ul id="sidebar-menu" class="sidebar-menu">
        <li hx-get="/controls"
            hx-target="#content"
            hx-swap="innerHTML"
            _="on click 
                if I do not match .active
                    remove .active from <li/> in #sidebar-menu
                    then remove @hx-disable from <li/> in #sidebar-menu
                    then add .active
                    then set @hx-disable to ''
                end
            end">
            <a aria-label="Show Controls" href="#" data-title="Controls"><i class="fa fa-tachometer" aria-hidden="true"></i></a>
        </li>
        <li hx-get="/empty"
            hx-target="#content"
            hx-swap="innerHTML"
            _="on click 
                if I do not match .active
                    remove .active from <li/> in #sidebar-menu
                    then remove @hx-disable from <li/> in #sidebar-menu
                    then add .active
                    then set @hx-disable to ''
                end
            end">
            <a aria-label="Show Visualise" href="#" data-title="Visualise"><i class="fa fa-exchange" aria-hidden="true"></i></a>
        </li>
        <li hx-get="/chat"
            hx-target="#content"
            hx-swap="innerHTML"
            _="on click 
                if I do not match .active
                    remove .active from <li/> in #sidebar-menu
                    then remove @hx-disable from <li/> in #sidebar-menu
                    then add .active
                    then set @hx-disable to ''
                end
            end">
            <a aria-label="Show Chat" href="#" data-title="Chat"><i class="fa fa-comment" aria-hidden="true"></i></a>
        </li>
        <li hx-get="/empty"
            hx-target="#content"
            hx-swap="innerHTML"
            _="on click 
                if I do not match .active
                    remove .active from <li/> in #sidebar-menu
                    then remove @hx-disable from <li/> in #sidebar-menu
                    then add .active
                    then set @hx-disable to ''
                end
            end">
                <a aria-label="Show Statistics" href="#" data-title="Statistics"><i class="fas fa-chart-line" aria-hidden="true"></i></a>
        </li>
        <li hx-get="/empty"
            hx-target="#content"
            hx-swap="innerHTML"
            _="on click 
                if I do not match .active
                    remove .active from <li/> in #sidebar-menu
                    then remove @hx-disable from <li/> in #sidebar-menu
                    then add .active
                    then set @hx-disable to ''
                end
            end">
            <a aria-label="Show Settings" href="#" data-title="Settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
        </li>
        <li id="sidebar-profile">
            <button 
                type="button" 
                aria-label="Profile Options"
                id="sidebar-profile-toggle"
                _="on click 
                        toggle .active 
                        on #sidebar-profile-dropdown
                    then on click 
                        from body
                        if event.target is not in me and #sidebar-profile-dropdown match .active
                            remove .active from #sidebar-profile-dropdown">
                    <img src="assets/images/default_user.jpg" alt="">
            </button>
            <ul id="sidebar-profile-dropdown" class="sidebar-profile-dropdown">
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
            </ul>
        </li>
    </ul>
</aside>