@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/* start: Globals */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--slate-700);
}
/* end: Globals */


/* start: UI */
.ui-container {
    width: 100%;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/* end: UI */


/* start: Sidebar */
.sidebar {
    width: 64px;
    background-color: var(--slate-100);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
}
#sidebar-logo {
    font-size: 28px;
    color: var(--emerald-600);
    display: block;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
}
.sidebar-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0;
}
.sidebar-menu > * > a {
    display: block;
    text-align: center;
    padding: 12px 8px;
    font-size: 24px;
    text-decoration: none;
    color: var(--slate-400);
    position: relative;
    transition: color .15s ease-in-out;
}
.sidebar-menu > * > a:hover {
    color: var(--slate-600);
}
.sidebar-menu > .active > a {
    box-shadow: inset 4px 0 0 0 var(--emerald-500);
    color: var(--emerald-600);
    background-color: var(--emerald-100);
}
.sidebar-menu > * > a::before {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: calc(100% - 16px);
    border-radius: 4px;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, .6);
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.sidebar-menu > * > a:hover::before {
    left: calc(100% - 8px);
    opacity: 1;
    visibility: visible;
}
#sidebar-profile {
    margin-top: auto;
    position: relative;
}
#sidebar-profile-toggle {
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
#sidebar-profile-toggle > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.sidebar-profile-dropdown {
    position: absolute;
    bottom: 100%;
    left: 16px;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    list-style-type: none;
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left bottom;
    transition: all .15s ease-in-out;
}
.sidebar-profile-dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.sidebar-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 14px;
}
.sidebar-profile-dropdown a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.sidebar-profile-dropdown a:active {
    background-color: var(--slate-200);
}
.sidebar-profile-dropdown a i {
    margin-right: 12px;
    font-size: 17px;
}
/* end: Sidebar */


/* start: Content */
.content {
    height: 100%;
    position: relative;
}

/* start: Welcome */
#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-text {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
#welcome-control-hint {
    font-size: 24px;
    color: var(--slate-400)
}
/* end: Welcome */

/* start: Controls */
.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.control-button {
    font-size: 24px;
    width: 120px;
    height: 60px;
}
/* end: Controls */

/* start: Chat */
.chat {
    background-color: var(--slate-100);
    height: 100%;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
}
/* start: Chat Top */
.chat-top {
    padding: 8px 16px;
    background-color: var(--white);
    display: flex;
    align-items: center;
}
.chat-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.chat-user-name {
    font-weight: 500;
    font-size: 17px;
}
.chat-user-status {
    color: var(--slate-400);
    font-size: 13px;
}
.chat-user-status::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--slate-300);
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
.chat-user-status.thinking::before {
    background-color: var(--emerald-500);
}
/* end: Chat Top */

/* start: Chat Body */
.chat-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 16px;
}
.chat-wrapper {
    list-style-type: none;
}
.chat-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 16px;
}
.chat-item.me {
    flex-direction: row;
}
.chat-item-side {
    margin-left: 8px;
}
.chat-item.me .chat-item-side {
    margin-right: 8px;
}
.chat-item-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.chat-item-content {
    width: 100%;
}
.chat-item-wrapper:not(:last-child) {
    margin-bottom: 8px;
}
.chat-item-box {
    max-width: 720px;
    position: relative;
    margin-left: auto;
}
.chat-item.me .chat-item-box {
    margin-left: unset;
}
.chat-item-text {
    padding: 12px 16px 8px;
    background-color: var(--white);
    box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .1);
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    margin-left: 32px;
}
.chat-item.me .chat-item-text {
    margin-left: unset;
    margin-right: 32px;
}
.chat-item.me .chat-item-text {
    background-color: var(--emerald-500);
    box-shadow: 0 2px 12px -2px var(--emerald-500);
    color: rgba(255, 255, 255, .8);
}
.chat-item-time {
    font-size: 10px;
    color: var(--slate-400);
    display: block;
    text-align: right;
    margin-top: 4px;
    line-height: 1;
}
.chat-item.me .chat-item-time {
    color: rgba(255, 255, 255, .7);
}
.chat-item-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.chat-item.me .chat-item-dropdown {
    left: unset;
    right: 0;
}
.chat-item-wrapper:hover .chat-item-dropdown {
    opacity: 1;
    visibility: visible;
}
.coversation-divider {
    text-align: center;
    font-size: 13px;
    color: var(--slate-400);
    margin-bottom: 16px;
    position: relative;
}
.coversation-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300)
}
.coversation-divider span {
    display: inline-block;
    padding: 0 8px;
    background-color: var(--slate-100);
    position: relative;
    z-index: 1;
}

.chat-form {
    padding: 8px 16px;
    background-color: var(--white);
    display: flex;
}
.chat-form-input {
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
    border-radius: 4px;
    outline: transparent;
    padding: 10px 32px 10px 16px;
    font: inherit;
    font-size: 14px;
    resize: none;
    width: calc(100% - 76px);
    display: block;
    line-height: 1.5;
    max-height: calc(20px + ((14px * 2) * 6));
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}
.chat-form-input:focus {
    border-color: var(--slate-400);
}
.chat-form-submit {
    background-color: var(--emerald-500);
    box-shadow: 0 2px 8px -2px var(--emerald-500);
    color: var(--white);
    width: 45px;
    border: none;
    outline: none;
}
.chat-form-submit:hover {
    background-color: var(--emerald-600);
    color: var(--white);
}
.chat-form-submit:active {
    background-color: var(--emerald-700);
    color: var(--white);
}